.inputBox6 {
    width: 330px;
    height: 50px;
    font-size: 20px;
}

.submitButton {
    background-color: #2f93f7; /* set the background color of the button */
    color: rgb(245, 248, 250); /* set the text color of the button */
    font-size: 16px; /* set the font size of the button */
    padding: 10px 20px; /* set the padding of the button (top/bottom left/right) */
    border: none; /* remove the border of the button */
    border-radius: 5px; /* round the corners of the button */
}

.loginText{
    font-size: 16px;
    color: blue;
    text-decoration: underline;
}