#badgeform {
    padding: 20px;
    text-align: left;
}

.badge {
    padding: 4px 5px;
    border-radius: 8px;
	font-weight: 600;
	font-size: 10pt;
	box-shadow: 0 2px 5px rgba(0,0,0,.25);
	margin-right: 8px;
    cursor: default;
}

input[type=color] {
    height: 50px;
    width: 100%;
    padding: 0;
    border: none;
    background: none;
}

.inputBox {
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
}

label {
    font-weight: bold;
    padding-bottom: 10px;
}

.submitButton {
    background-color: #2f93f7; /* set the background color of the button */
    color: rgb(245, 248, 250); /* set the text color of the button */
    font-size: 16px; /* set the font size of the button */
    padding: 10px 20px; /* set the padding of the button (top/bottom left/right) */
    border: none; /* remove the border of the button */
    border-radius: 5px; /* round the corners of the button */
}

.deleteButton {
    background-color: red !important; /* set the background color of the button */
    color: rgb(245, 248, 250) !important; /* set the text color of the button */
}
