.submitButton {
    background-color: #2f93f7; /* set the background color of the button */
    color: rgb(245, 248, 250); /* set the text color of the button */
    font-size: 16px; /* set the font size of the button */
    padding: 10px 20px; /* set the padding of the button (top/bottom left/right) */
    border: none; /* remove the border of the button */
    border-radius: 5px; /* round the corners of the button */
}

label{

    font-size: large;
    color:black;

}

.inputBox3 {
    width: 110px;
    height: 15px;
    font-size: 20px;
}


button{

    background-color: lightblue;

}