.bottombar {
    display: flex;
    position: fixed;
    flex-direction: column;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
}

.task-badge-filter-bar {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.task-filter-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
}

.task-filter-button {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #777;
    cursor: pointer;
}

.task-filter-button.active {
    color: #000;
    background-color: #ddd;
}
