.task-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.overdue {
    background: #fcc;
    font-weight: bold;
}

.task-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.task-title {
    font-size: 20px;
    font-weight: bold;
}

.task-due-date {
    font-size: 16px;
    color: gray;
}

.task-categories {
    padding-top: 8px;
    padding-bottom: 4px;
}

.badge {
    padding: 4px 5px;
    border-radius: 8px;
	font-weight: 600;
	font-size: 10pt;
	box-shadow: 0 2px 5px rgba(0,0,0,.25);
	margin-right: 4px;
}

.task-checkbox {
    display: flex;
    align-items: center;
}

.task-checkbox-input {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.overdue .task-due-date {
    color: inherit !important;
}